body{
    background-color: #E0E0E0;
    font-family: "Poppins";

}

/* ----- BARRA DE NAVEGAÇÃO ----- */

div.menu{
    background-color: #CC3436;
    color: #FFFFFF;
    border-bottom: solid 12px #929292;
}

img.logo{
    height: 82.797px;
    width: 238.5px;
    margin-top: 39.75px;
    margin-left: 92.75px;
}


li{
    display: inline-block;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 165%;
}

div.home {
    margin-left: 32.5%;
    margin-bottom: 4%;
}

.menu div{
    display: inline-block;
}

.menu h1{
    margin-right: 20%;
    text-align: center;
    font-size: 210%;
    line-height: 1.4;
    font-weight: bold;
}
