body{
    background-color: #E0E0E0;
    font-family: "Poppins";

}

/* ----- BARRA DE NAVEGAÇÃO ----- */

div.menu{
    background-color: #CC3436;
    color: #FFFFFF;
    border-bottom: solid 12px #929292;
}

img.logo{
    height: 82.797px;
    width: 238.5px;
    margin-top: 39.75px;
    margin-left: 92.75px;
}


li{
    display: inline-block;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 165%;
}

nav a:hover{
    text-shadow: 3px 3px 5px #75777a;
}

div.home {
    margin-left: 32.5%;
    margin-bottom: 4%;
}

.menu div{
    display: inline-block;
}

.menu h1{
    margin-right: 20%;
    text-align: center;
    font-size: 210%;
    line-height: 1.4;
    font-weight: bold;
}



/* ----- PROCESSO DE FEDERAÇÃO ----- */

.imagem{
    display:flex;
}
.processo{
    height: auto;
    max-height: 200px;
    align-self: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 6%;

}

.bloco1{
    display: inline-flex;
}
/* ----- TEXTO EJ ----- */

.fejesp{
    width: auto;
    max-width: 50%;
    box-sizing: border-box;
}
.fejesp h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    margin: 2%;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 6%;
}

.fejesp p{
    width: 85%;
    text-align: justify;
    margin: 3.2% 10%;
    font-size: 120%;
    line-height: 1.2;
    color: #47525E;
    box-sizing: border-box;
}



/* ----- VALORES ----- */

.valores{
    width: 647px;
    box-sizing: border-box;

}

.valores h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    margin: 2%;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 6%;
}

.valores div{
    display: inline;
    margin-left: 7%;
}

.valores .legenda{
    margin-left: 0;
}
.legenda p {
    display: inline;
    width: 85%;
    text-align: justify;
    font-size: 120%;
    line-height: 1.2;
    color: #47525E;
    box-sizing: border-box;
}
.legenda .l1{
    margin-left: 1%;
}
.legenda .l2{
    margin-left: 5%;
}
.legenda .l3{
    margin-left: 3%;
    display: inline;
    align-content: center;
}
.legenda .l3 div{
    display: inline-grid;
    align-content: center;
}
.legenda .l4{
    margin-left: 6%;
    align-content: center;
}
.legenda .l4 div{
    display: inline-grid;
}
.valores img{
    height: auto;
    width: auto;
    max-width: 12%;
    max-height: 4%;
    margin-right: 11%;
}

/* ----- MISSÃO ----- */
.missao{
    align-items: center;
    justify-content: center;
}

.missao h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    margin: 4% 0 2% 0;
    line-height: 1.4;
    text-align: center;
}

.missao p{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 140%;
    line-height: 1.2;
    color: #47525E;
}

.missao button{
    margin: 3.5% 0 5% 36%;
    height: 19%;
    width: 30%;
    border-radius: 1em;
    border-style: solid;
    border-color: #631C1E;
    color: #ffffff;
    background-color: #631C1E;
    font-family: "Poppins";
    font-size: 105%;
}

.missao button:hover{
    box-shadow: 0 0 10px black;
}

/* ----- CONTATOS ----- */

.contato h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    margin: 0;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 6%;
}

.contato img{
    width: 170px;
    height: 190px;
    border-radius: 1em;
    margin-left: 12%;
}

.contato img:hover{
    width: 250px;
    height: 250px;
    border-radius: 1em;
    margin-left: 8%;
}

.contato h2{
    color: #631C1E;
    font-size: 145%;
    font-weight: bold;
    text-align: center;
}


.contato h3{
    color: #353b42;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

.contato p{
    color: #353b42;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.contato .presidencia div{
    display: inline-grid; 
    margin: 2% 6% 10% 8%;
}




/* ----- PERGUNTAS IMPORTANTES ----- */
.perguntas{
    background-color: #CFCFCF;
    border-radius: 1em;
    margin: 2%;
    padding: 2%;
    margin-bottom: 10%;
}

.perguntas h1{
    color: white;
    font-size: 215%;
    font-weight: bolder;
    margin: 0;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 3%;
    text-shadow: 1px 5px 2px #b6bbc1;
}

.perguntas h2{
    color: white;
    text-shadow: 1px 3px 2px #b6bbc1;
    font-size: 130%;
    font-weight: bolder;
    margin: 2% 0;
    padding-top: 2%;
    line-height: 1.4;
    border-top: 0.7px #b6bbc1 solid;
}

.perguntas p{
    font-size: 110%;
    line-height: 1.2;
    color: #47525E;
    text-align: justify;
}

.perguntas button{
    height: 19%;
    width: 20%;
    border-radius: 1em;
    border-style: solid;
    border-color: #9b9da3;
    color: #ffffff;
    background-color: #9b9da3;
    font-family: "Poppins";
    font-size: 105%;
}

.perguntas button:hover{
    box-shadow: 0 0 6px black;
}

}






