

body{
    background-color: #E0E0E0;
    font-family: "Poppins";

}

/* ----- BARRA DE NAVEGAÇÃO ----- */

div.menu{
    background-color: #CC3436;
    color: #FFFFFF;
    border-bottom: solid 12px #929292;
}

img.logo{
    height: 90%;
    width: 90%;
    margin-top: 15%;
    margin-left: 35%;
}

img.impacto{
    height: 80%;
    width: 60%;
    box-shadow: 12px 12px 2px #929292; 
    margin-left: 8%;
    margin-right: 0;
    margin-top: 5%;
    padding: 0;
    box-sizing: content-box;
}

li{
    display: inline-block;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 165%;
}

div.home {
    margin-left: 38%;
}

.menu div{
    display: inline-block;
}

.menu h1{
    margin-right: 20%;
    text-align: center;
    font-size: 210%;
    line-height: 1.4;
    font-weight: bold;
}

div.federacao{
    width: 50%;
    margin-top: 10%;
}

div.inicio{
    display: flex;
}


/* ----- APRESENTAÇÃO MEJ ----- */
div.texto{
    display: inline-flex; 
}

div.mej h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    text-align: center;
    margin: 2%;
    line-height: 1.4;
}

div.mej p{
    width: 45%;
    text-align: center;
    margin: 3.2% 2%;
    font-size: 120%;
    line-height: 1.2;
    color: #47525E;
}

div.mej img{
    width: 45%;
    height: 45%;
    border-radius: 60px;
    border: solid 4px #CC3436;
    margin: 2%;
}

/* ----- BANNER MOV EMPRESA JÚNIOR PAULISTA ----- */

div.banner img{
    display: flex;
    width: 100%;
    margin: 15px 0;
}

/* ----- BLOG ----- */

div.blog h1{
    color: #CC3436;
    font-size: 215%;
    font-weight: bolder;
    text-align: center;
    margin: 2%;
    line-height: 1.4;
    width: 90%;
}

div.blog h2{
    color: #631C1E;
    font-size: 170%;
    font-weight: bold;
    margin: 5% 9%;
}

.blog .box1{
    background-color: #CFCFCF;
    width: 600px;
    border-radius: 20px;
    margin: 0px 50px 50px 50px;
    padding: 0;
}

div.blog .box1 p{
    margin: 0 0% 5% 9%;
    font-size: 110%;
    line-height: 1.2;
    color: #47525E;
    width: 400px;
}

.blog .box2{
    background-color: #CFCFCF;
    width: 600px;
    border-radius: 20px;
        margin-bottom: 50px;
}

div.blog .box2 p{
    margin: 20px 0% 5% 9%;
    font-size: 110%;
    line-height: 1.2;
    color: #47525E;
    width: 300px;

}

.blog .texto{
    display: inline-flex;
}

.form{
    display: inline-flex;
}

.form div{
    display: block;
}
.form .email{
    height: 17%;
    width: 250px;
    margin-top: 20px;
    border-radius: 1em;
    border-style: solid;
    border-color: #CFCFCF;
    font-family: "Poppins";
}

.form .button{
    height: 20%;
    width: 250px;
    border-radius: 1em;
    border-style: solid;
    border-color: #631C1E;
    color: #ffffff;
    background-color: #631C1E;
    font-family: "Poppins";
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}